<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.valentichu.server.core.mapper.GoodMapper">

    <select id="listGoods" resultType="com.valentichu.server.core.domain.Good">
        SELECT * FROM goods

        <if test="max != null and min != null">
            WHERE salePrice &gt;= ${min} AND G.salePrice &lt;= ${max}
        </if>

        <if test="sort != null">
            ORDER BY salePrice ${sort}
        </if>

        <if test="sort == null">
            ORDER BY productId
        </if>

        <if test="skip != null and limit != null">
            LIMIT ${skip},${limit}
        </if>
    </select>
</mapper>